In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/moviedata/e.xlsx

In [2]:
import pandas as pd
import numpy as np

In [3]:
movieData = pd.read_excel("/kaggle/input/moviedata/e.xlsx")

In [4]:
movieData.head()

      Names   M1   M2  M3    M4
0     name1  8.5  7.5   6   9.0
1     name2  8.0  7.0   6   9.5
2     name3  7.0  6.0   9   8.0
3  unknown1  NaN  NaN  10   8.5
4     name5  9.0  NaN   9  10.0

In [5]:
df = movieData

In [6]:
df.columns

Index(['Names', 'M1', 'M2', 'M3', 'M4'], dtype='object')

In [7]:
df.set_index('Names',inplace = True)

In [8]:
df.index

Index(['name1', 'name2', 'name3', 'unknown1', 'name5'], dtype='object', name='Names')

In [9]:
def distance(x,y):
    return sum((x-y)**2)**0.5

In [10]:
new = np.array([df.loc['unknown1','M3'],df.loc['unknown1','M4']])

In [11]:
df.loc['unknown1','M3']

10

In [12]:
new

array([10. ,  8.5])

In [13]:
toBeCalculated = np.array(df[['M3','M4']])

In [14]:
toBeCalculated

array([[ 6. ,  9. ],
       [ 6. ,  9.5],
       [ 9. ,  8. ],
       [10. ,  8.5],
       [ 9. , 10. ]])

In [15]:
#for i in range(len(df.columns)-1):
dist = []
for a in toBeCalculated:
    distList = distance(a,new)
    dist.append(distList)
    #print(distList)
dist
#print(distance(new,toBeCalculated))

[4.031128874149275,
 4.123105625617661,
 1.118033988749895,
 0.0,
 1.8027756377319946]

In [16]:
df['distances'] = dist

In [17]:
df

           M1   M2  M3    M4  distances
Names
name1     8.5  7.5   6   9.0   4.031129
name2     8.0  7.0   6   9.5   4.123106
name3     7.0  6.0   9   8.0   1.118034
unknown1  NaN  NaN  10   8.5   0.000000
name5     9.0  NaN   9  10.0   1.802776

In [18]:
similarity = []
for i in df['distances']:
    sim = 1/(1+i)
    #print(sim)
    similarity.append(sim)
similarity

[0.1987625491245426,
 0.1951941016011038,
 0.4721359549995794,
 1.0,
 0.3567891723253309]

In [19]:
df['similarity'] = similarity

In [20]:
df

           M1   M2  M3    M4  distances  similarity
Names
name1     8.5  7.5   6   9.0   4.031129    0.198763
name2     8.0  7.0   6   9.5   4.123106    0.195194
name3     7.0  6.0   9   8.0   1.118034    0.472136
unknown1  NaN  NaN  10   8.5   0.000000    1.000000
name5     9.0  NaN   9  10.0   1.802776    0.356789

In [21]:
#s = []
#for i in df['M1']:
#    sXM1 = df['similarity'] * i
#    s.append(sXM1)
#print(s)

In [22]:
df['similarity X'] = df['similarity']*df['M1']

In [23]:
df

           M1   M2  M3    M4  distances  similarity  similarity X
Names
name1     8.5  7.5   6   9.0   4.031129    0.198763      1.689482
name2     8.0  7.0   6   9.5   4.123106    0.195194      1.561553
name3     7.0  6.0   9   8.0   1.118034    0.472136      3.304952
unknown1  NaN  NaN  10   8.5   0.000000    1.000000           NaN
name5     9.0  NaN   9  10.0   1.802776    0.356789      3.211103

In [24]:
#df.loc['unknown1',df.columns['similarity X']] = 0

In [25]:
df.fillna(0, inplace=True)

In [26]:
#df.drop(df.index[-1], inplace=True)

In [27]:
#df.drop('unknown1', axis = 0)
# axis = 1 for column

In [28]:
df

           M1   M2  M3    M4  distances  similarity  similarity X
Names
name1     8.5  7.5   6   9.0   4.031129    0.198763      1.689482
name2     8.0  7.0   6   9.5   4.123106    0.195194      1.561553
name3     7.0  6.0   9   8.0   1.118034    0.472136      3.304952
unknown1  0.0  0.0  10   8.5   0.000000    1.000000      0.000000
name5     9.0  0.0   9  10.0   1.802776    0.356789      3.211103

In [29]:
print( 'The recommended rating for unknown 1 will be :',sum(df['similarity X'])/sum(df['similarity']))

The recommended rating for unknown 1 will be : 4.393885816481932